{"openapi":"3.1.0","info":{"title":"Platform API","version":"3.0.2"},"servers":[{"url":"https://platform.unstructuredapp.io/","description":"Unstructured Platform API","x-speakeasy-server-id":"platform-api"}],"paths":{"/api/v1/destinations/":{"get":{"tags":["destinations"],"summary":"List destination connectors","description":"Retrieve a list of available destination connectors.","operationId":"list_destinations","parameters":[{"name":"destination_type","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/DestinationConnectorType"},{"type":"null"}],"title":"Destination Type"}},{"name":"unstructured-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Unstructured-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DestinationConnectorInformation"},"title":"Response List Destinations"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["destinations"],"summary":"Create destination connector","description":"Create a new destination connector using the provided configuration and name.","operationId":"create_destination","parameters":[{"name":"unstructured-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Unstructured-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateDestinationConnector"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DestinationConnectorInformation"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/destinations/{destination_id}":{"get":{"tags":["destinations"],"summary":"Get destination connector","description":"Retrieve detailed information for a specific destination connector by its ID.","operationId":"get_destination","parameters":[{"name":"destination_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Destination Id"}},{"name":"unstructured-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Unstructured-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DestinationConnectorInformation"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"put":{"tags":["destinations"],"summary":"Update destination connector","description":"Update the configuration of an existing destination connector.","operationId":"update_destination","parameters":[{"name":"destination_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Destination Id"}},{"name":"unstructured-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Unstructured-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateDestinationConnector"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DestinationConnectorInformation"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["destinations"],"summary":"Delete destination connector","description":"Delete a specific destination connector by its ID.","operationId":"delete_destination","parameters":[{"name":"destination_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Destination Id"}},{"name":"unstructured-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Unstructured-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/destinations/{destination_id}/connection-check":{"post":{"tags":["destinations"],"summary":"Create destination connection check","description":"Initiate a connection check for the destination connector","operationId":"create_connection_check_destinations","parameters":[{"name":"destination_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Destination Id"}},{"name":"unstructured-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Unstructured-Api-Key"}}],"responses":{"202":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DagNodeConnectionCheck"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-speakeasy-name-override":"create_connection_check_destinations"},"get":{"tags":["destinations"],"summary":"Get the latest destination connector connection check","description":"Retrieves the most recent connection check for the specified destination connector.","operationId":"get_connection_check_destinations","parameters":[{"name":"destination_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Destination Id"}},{"name":"unstructured-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Unstructured-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DagNodeConnectionCheck"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-speakeasy-name-override":"get_connection_check_destinations"}},"/api/v1/sources/":{"get":{"tags":["sources"],"summary":"List available source connectors","description":"Retrieve a list of available source connectors.","operationId":"list_sources","parameters":[{"name":"source_type","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/SourceConnectorType"},{"type":"null"}],"title":"Source Type"}},{"name":"unstructured-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Unstructured-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SourceConnectorInformation"},"title":"Response List Sources"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["sources"],"summary":"Create source connector","description":"Create a new source connector using the provided configuration and name.","operationId":"create_source","parameters":[{"name":"unstructured-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Unstructured-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSourceConnector"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SourceConnectorInformation"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/sources/{source_id}":{"get":{"tags":["sources"],"summary":"Get source connector","description":"Retrieve detailed information for a specific source connector by its ID.","operationId":"get_source","parameters":[{"name":"source_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Source Id"}},{"name":"unstructured-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Unstructured-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SourceConnectorInformation"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["sources"],"summary":"Delete source connector","description":"Delete a specific source connector identified by its ID.","operationId":"delete_source","parameters":[{"name":"source_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Source Id"}},{"name":"unstructured-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Unstructured-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"put":{"tags":["sources"],"summary":"Update source connector","description":"Update the configuration of an existing source connector.","operationId":"update_source","parameters":[{"name":"source_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Source Id"}},{"name":"unstructured-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Unstructured-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateSourceConnector"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SourceConnectorInformation"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/sources/{source_id}/connection-check":{"post":{"tags":["sources"],"summary":"Create source connection check","description":"Initiates a connection check for the specified source connector.","operationId":"create_connection_check_sources","parameters":[{"name":"source_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Source Id"}},{"name":"unstructured-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Unstructured-Api-Key"}}],"responses":{"202":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DagNodeConnectionCheck"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-speakeasy-name-override":"create_connection_check_sources"},"get":{"tags":["sources"],"summary":"Get the latest source connector connection check","description":"Retrieves the most recent connection check for the specified source connector.","operationId":"get_connection_check_sources","parameters":[{"name":"source_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Source Id"}},{"name":"unstructured-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Unstructured-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DagNodeConnectionCheck"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-speakeasy-name-override":"get_connection_check_sources"}},"/api/v1/jobs/":{"get":{"tags":["jobs"],"summary":"List Jobs","description":"Retrieve a list of jobs with optional filtering by workflow ID or job status.","operationId":"list_jobs","parameters":[{"name":"workflow_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Workflow Id"}},{"name":"status","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Status"}},{"name":"unstructured-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Unstructured-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/JobInformation"},"title":"Response List Jobs"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/jobs/{job_id}":{"get":{"tags":["jobs"],"summary":"Get Job","description":"Retrieve detailed information for a specific job by its ID.","operationId":"get_job","parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Job Id"}},{"name":"unstructured-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Unstructured-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobInformation"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/jobs/{job_id}/cancel":{"post":{"tags":["jobs"],"summary":"Cancel Job","description":"Cancel the specified job.","operationId":"cancel_job","parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Job Id"}},{"name":"unstructured-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Unstructured-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/jobs/{job_id}/download":{"get":{"tags":["jobs"],"summary":"Download Job output","description":"Download the output of a job from a workflow where the input file was provided at runtime.","operationId":"download_job_output","parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Job Id"}},{"name":"file_id","in":"query","required":true,"schema":{"type":"string","description":"ID of the file to download","title":"File Id"},"description":"ID of the file to download"},{"name":"node_id","in":"query","required":true,"schema":{"type":"string","format":"uuid","description":"Node ID to retrieve the corresponding output file","title":"Node Id"},"description":"Node ID to retrieve the corresponding output file"},{"name":"unstructured-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Unstructured-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/jobs/{job_id}/details":{"get":{"tags":["jobs"],"summary":"Get Job processing details","description":"Retrieve processing details for a specific job by its ID.","operationId":"get_job_details","parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Job Id"}},{"name":"unstructured-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Unstructured-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobDetails"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/jobs/{job_id}/failed-files":{"get":{"tags":["jobs"],"summary":"Get Job Failed Files","description":"Retrieve failed files for a specific job by its ID.","operationId":"get_job_failed_files","parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Job Id"}},{"name":"unstructured-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Unstructured-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobFailedFiles"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/workflows/":{"post":{"tags":["workflows"],"summary":"Create Workflow","description":"Create a new workflow, either custom or auto, and configure its settings.","operationId":"create_workflow","parameters":[{"name":"unstructured-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Unstructured-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateWorkflow"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowInformation"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["workflows"],"summary":"List Workflows","description":"Retrieve a list of workflows, optionally filtered by source, destination, state, name, date range, and supports pagination and sorting.","operationId":"list_workflows","parameters":[{"name":"dag_node_configuration_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Dag Node Configuration Id"}},{"name":"source_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Source Id"}},{"name":"destination_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Destination Id"}},{"name":"status","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/WorkflowState"},{"type":"null"}],"title":"Status"}},{"name":"page","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"default":1,"title":"Page"}},{"name":"page_size","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"default":20,"title":"Page Size"}},{"name":"created_since","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Created Since"}},{"name":"created_before","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Created Before"}},{"name":"name","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"}},{"name":"sort_by","in":"query","required":false,"schema":{"type":"string","default":"id","title":"Sort By"}},{"name":"sort_direction","in":"query","required":false,"schema":{"$ref":"#/components/schemas/SortDirection","default":"asc"}},{"name":"show_only_soft_deleted","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"default":false,"title":"Show Only Soft Deleted"}},{"name":"show_recommender_workflows","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"default":false,"title":"Show Recommender Workflows"}},{"name":"unstructured-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Unstructured-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WorkflowInformation"},"title":"Response List Workflows"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/workflows/{workflow_id}":{"get":{"tags":["workflows"],"summary":"Get Workflow","description":"Retrieve detailed information for a specific workflow by its ID.","operationId":"get_workflow","parameters":[{"name":"workflow_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Workflow Id"}},{"name":"unstructured-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Unstructured-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowInformation"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"put":{"tags":["workflows"],"summary":"Update Workflow","description":"Update an existing workflow's name, connectors, schedule, or workflow type.","operationId":"update_workflow","parameters":[{"name":"workflow_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Workflow Id"}},{"name":"unstructured-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Unstructured-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateWorkflow"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowInformation"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["workflows"],"summary":"Delete Workflow","description":"Delete a workflow by its ID.","operationId":"delete_workflow","parameters":[{"name":"workflow_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Workflow Id"}},{"name":"unstructured-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Unstructured-Api-Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/workflows/{workflow_id}/run":{"post":{"tags":["workflows"],"summary":"Run Workflow","description":"Run a workflow by triggering a new job if none is currently active.","operationId":"run_workflow","parameters":[{"name":"workflow_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Workflow Id"}},{"name":"unstructured-api-key","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Unstructured-Api-Key"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/Body_run_workflow"}}}},"responses":{"202":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobInformation"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"AstraDBConnectorConfig":{"properties":{"collection_name":{"type":"string","title":"Collection Name"},"keyspace":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Keyspace"},"batch_size":{"type":"integer","title":"Batch Size"},"api_endpoint":{"type":"string","title":"Api Endpoint"},"token":{"type":"string","title":"Token"}},"type":"object","required":["collection_name","batch_size","api_endpoint","token"],"title":"AstraDBConnectorConfig"},"AstraDBConnectorConfigInput":{"properties":{"collection_name":{"type":"string","pattern":"^\\w+$","title":"Collection Name"},"keyspace":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Keyspace","default":"default_keyspace"},"batch_size":{"type":"integer","minimum":1.0,"title":"Batch Size","default":20},"api_endpoint":{"type":"string","title":"Api Endpoint"},"token":{"type":"string","title":"Token"},"flatten_metadata":{"type":"boolean","title":"Flatten Metadata","default":false}},"type":"object","required":["collection_name","api_endpoint","token"],"title":"AstraDBConnectorConfigInput"},"AzureAISearchConnectorConfig":{"properties":{"endpoint":{"type":"string","title":"Endpoint"},"index":{"type":"string","title":"Index"},"key":{"type":"string","title":"Key"}},"type":"object","required":["endpoint","index","key"],"title":"AzureAISearchConnectorConfig"},"AzureAISearchConnectorConfigInput":{"properties":{"endpoint":{"type":"string","pattern":"^https:\\/\\/[a-z0-9-]+","title":"Endpoint"},"index":{"type":"string","title":"Index"},"key":{"type":"string","title":"Key"}},"type":"object","required":["endpoint","index","key"],"title":"AzureAISearchConnectorConfigInput"},"AzureSourceConnectorConfig":{"properties":{"remote_url":{"type":"string","title":"Remote Url"},"account_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Account Name"},"account_key":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Account Key"},"connection_string":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Connection String"},"sas_token":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Sas Token"},"recursive":{"type":"boolean","title":"Recursive"}},"type":"object","required":["remote_url","recursive"],"title":"AzureSourceConnectorConfig"},"AzureSourceConnectorConfigInput":{"properties":{"remote_url":{"type":"string","pattern":"^(az:\\/\\/|abfs:\\/\\/)","title":"Remote Url"},"account_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Account Name"},"account_key":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Account Key"},"connection_string":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Connection String"},"sas_token":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Sas Token"},"recursive":{"type":"boolean","title":"Recursive","default":true}},"type":"object","required":["remote_url"],"title":"AzureSourceConnectorConfigInput"},"Body_run_workflow":{"properties":{"input_files":{"anyOf":[{"items":{"type":"string","format":"binary"},"type":"array"},{"type":"null"}],"title":"Input Files"}},"type":"object","title":"Body_run_workflow"},"BoxSourceConnectorConfig":{"properties":{"box_app_config":{"type":"string","title":"Box App Config"},"recursive":{"type":"boolean","title":"Recursive"}},"type":"object","required":["box_app_config","recursive"],"title":"BoxSourceConnectorConfig"},"BoxSourceConnectorConfigInput":{"properties":{"box_app_config":{"type":"string","title":"Box App Config"},"remote_url":{"type":"string","pattern":"^box:\\/\\/","title":"Remote Url"},"recursive":{"type":"boolean","title":"Recursive","default":true}},"type":"object","required":["box_app_config","remote_url"],"title":"BoxSourceConnectorConfigInput"},"ConfluenceSourceConnectorConfig":{"properties":{"url":{"type":"string","title":"Url"},"username":{"type":"string","title":"Username"},"password":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Password"},"api_token":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Api Token"},"token":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Token"},"cloud":{"type":"boolean","title":"Cloud"},"extract_images":{"type":"boolean","title":"Extract Images","default":false},"extract_files":{"type":"boolean","title":"Extract Files","default":false},"max_num_of_spaces":{"type":"integer","title":"Max Num Of Spaces"},"max_num_of_docs_from_each_space":{"type":"integer","title":"Max Num Of Docs From Each Space"},"spaces":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Spaces"}},"type":"object","required":["url","username","cloud","max_num_of_spaces","max_num_of_docs_from_each_space","spaces"],"title":"ConfluenceSourceConnectorConfig"},"ConfluenceSourceConnectorConfigInput":{"properties":{"url":{"type":"string","title":"Url"},"username":{"type":"string","title":"Username"},"password":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Password"},"api_token":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Api Token"},"token":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Token"},"cloud":{"type":"boolean","title":"Cloud","default":false},"extract_images":{"type":"boolean","title":"Extract Images","default":false},"extract_files":{"type":"boolean","title":"Extract Files","default":false},"max_num_of_spaces":{"type":"integer","minimum":1.0,"title":"Max Num Of Spaces","default":500},"max_num_of_docs_from_each_space":{"type":"integer","minimum":1.0,"title":"Max Num Of Docs From Each Space","default":150},"spaces":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Spaces"}},"type":"object","required":["url","username"],"title":"ConfluenceSourceConnectorConfigInput"},"ConnectionCheckStatus":{"type":"string","enum":["SCHEDULED","SUCCESS","FAILURE"],"title":"ConnectionCheckStatus"},"CouchbaseDestinationConnectorConfig":{"properties":{"bucket":{"type":"string","title":"Bucket"},"connection_string":{"type":"string","title":"Connection String"},"scope":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Scope"},"collection":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Collection"},"batch_size":{"type":"integer","title":"Batch Size"},"username":{"type":"string","title":"Username"},"password":{"type":"string","title":"Password"}},"type":"object","required":["bucket","connection_string","batch_size","username","password"],"title":"CouchbaseDestinationConnectorConfig"},"CouchbaseDestinationConnectorConfigInput":{"properties":{"bucket":{"type":"string","title":"Bucket"},"connection_string":{"type":"string","title":"Connection String"},"scope":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Scope"},"collection":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Collection"},"batch_size":{"type":"integer","title":"Batch Size"},"username":{"type":"string","title":"Username"},"password":{"type":"string","title":"Password"}},"type":"object","required":["bucket","connection_string","batch_size","username","password"],"title":"CouchbaseDestinationConnectorConfigInput"},"CouchbaseSourceConnectorConfig":{"properties":{"bucket":{"type":"string","title":"Bucket"},"connection_string":{"type":"string","title":"Connection String"},"scope":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Scope"},"collection":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Collection"},"batch_size":{"type":"integer","title":"Batch Size"},"username":{"type":"string","title":"Username"},"password":{"type":"string","title":"Password"},"collection_id":{"type":"string","title":"Collection Id"}},"type":"object","required":["bucket","connection_string","batch_size","username","password","collection_id"],"title":"CouchbaseSourceConnectorConfig"},"CouchbaseSourceConnectorConfigInput":{"properties":{"bucket":{"type":"string","title":"Bucket"},"connection_string":{"type":"string","title":"Connection String"},"scope":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Scope"},"collection":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Collection"},"batch_size":{"type":"integer","title":"Batch Size"},"username":{"type":"string","title":"Username"},"password":{"type":"string","title":"Password"},"collection_id":{"type":"string","title":"Collection Id"}},"type":"object","required":["bucket","connection_string","batch_size","username","password","collection_id"],"title":"CouchbaseSourceConnectorConfigInput"},"CreateDestinationConnector":{"properties":{"name":{"type":"string","title":"Name"},"type":{"$ref":"#/components/schemas/DestinationConnectorType"},"config":{"anyOf":[{"$ref":"#/components/schemas/AstraDBConnectorConfigInput"},{"$ref":"#/components/schemas/AzureAISearchConnectorConfigInput"},{"$ref":"#/components/schemas/CouchbaseDestinationConnectorConfigInput"},{"$ref":"#/components/schemas/DatabricksVolumesConnectorConfigInput"},{"$ref":"#/components/schemas/DatabricksVDTDestinationConnectorConfigInput"},{"$ref":"#/components/schemas/DeltaTableConnectorConfigInput"},{"$ref":"#/components/schemas/ElasticsearchConnectorConfigInput"},{"$ref":"#/components/schemas/GCSDestinationConnectorConfigInput"},{"$ref":"#/components/schemas/KafkaCloudDestinationConnectorConfigInput"},{"$ref":"#/components/schemas/MilvusDestinationConnectorConfigInput"},{"$ref":"#/components/schemas/MongoDBConnectorConfigInput"},{"$ref":"#/components/schemas/Neo4jDestinationConnectorConfigInput"},{"$ref":"#/components/schemas/OneDriveDestinationConnectorConfigInput"},{"$ref":"#/components/schemas/PineconeDestinationConnectorConfigInput"},{"$ref":"#/components/schemas/PostgresDestinationConnectorConfigInput"},{"$ref":"#/components/schemas/RedisDestinationConnectorConfigInput"},{"$ref":"#/components/schemas/QdrantCloudDestinationConnectorConfigInput"},{"$ref":"#/components/schemas/S3DestinationConnectorConfigInput"},{"$ref":"#/components/schemas/SnowflakeDestinationConnectorConfigInput"},{"$ref":"#/components/schemas/WeaviateDestinationConnectorConfigInput"},{"$ref":"#/components/schemas/IBMWatsonxS3DestinationConnectorConfigInput"},{"additionalProperties":true,"type":"object"}],"title":"Config"}},"type":"object","required":["name","type","config"],"title":"CreateDestinationConnector"},"CreateSourceConnector":{"properties":{"name":{"type":"string","title":"Name"},"type":{"$ref":"#/components/schemas/SourceConnectorType"},"config":{"anyOf":[{"$ref":"#/components/schemas/AzureSourceConnectorConfigInput"},{"$ref":"#/components/schemas/BoxSourceConnectorConfigInput"},{"$ref":"#/components/schemas/ConfluenceSourceConnectorConfigInput"},{"$ref":"#/components/schemas/CouchbaseSourceConnectorConfigInput"},{"$ref":"#/components/schemas/DatabricksVolumesConnectorConfigInput"},{"$ref":"#/components/schemas/DropboxSourceConnectorConfigInput"},{"$ref":"#/components/schemas/ElasticsearchConnectorConfigInput"},{"$ref":"#/components/schemas/GCSSourceConnectorConfigInput"},{"$ref":"#/components/schemas/GoogleDriveSourceConnectorConfigInput"},{"$ref":"#/components/schemas/KafkaCloudSourceConnectorConfigInput"},{"$ref":"#/components/schemas/MongoDBConnectorConfigInput"},{"$ref":"#/components/schemas/OneDriveSourceConnectorConfigInput"},{"$ref":"#/components/schemas/OutlookSourceConnectorConfigInput"},{"$ref":"#/components/schemas/PostgresSourceConnectorConfigInput"},{"$ref":"#/components/schemas/S3SourceConnectorConfigInput"},{"$ref":"#/components/schemas/SalesforceSourceConnectorConfigInput"},{"$ref":"#/components/schemas/SharePointSourceConnectorConfigInput"},{"$ref":"#/components/schemas/SnowflakeSourceConnectorConfigInput"},{"$ref":"#/components/schemas/JiraSourceConnectorConfigInput"},{"$ref":"#/components/schemas/ZendeskSourceConnectorConfigInput"},{"additionalProperties":true,"type":"object"}],"title":"Config"}},"type":"object","required":["name","type","config"],"title":"CreateSourceConnector"},"CreateWorkflow":{"properties":{"name":{"type":"string","title":"Name"},"source_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Source Id"},"destination_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Destination Id"},"workflow_type":{"$ref":"#/components/schemas/WorkflowType"},"workflow_nodes":{"anyOf":[{"items":{"$ref":"#/components/schemas/WorkflowNode"},"type":"array"},{"type":"null"}],"title":"Workflow Nodes"},"schedule":{"anyOf":[{"type":"string","enum":["every 15 minutes","every hour","every 2 hours","every 4 hours","every 6 hours","every 8 hours","every 10 hours","every 12 hours","daily","weekly","monthly"]},{"type":"null"}],"title":"Schedule"},"reprocess_all":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Reprocess All","default":false}},"type":"object","required":["name","workflow_type"],"title":"CreateWorkflow"},"CronTabEntry":{"properties":{"cron_expression":{"type":"string","title":"Cron Expression"}},"type":"object","required":["cron_expression"],"title":"CronTabEntry"},"DagNodeConnectionCheck":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"status":{"$ref":"#/components/schemas/ConnectionCheckStatus"},"reason":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Reason"},"created_at":{"type":"string","format":"date-time","title":"Created At"},"reported_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Reported At"}},"type":"object","required":["id","status","created_at"],"title":"DagNodeConnectionCheck"},"DatabricksVDTDestinationConnectorConfig":{"properties":{"server_hostname":{"type":"string","title":"Server Hostname"},"http_path":{"type":"string","title":"Http Path"},"token":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Token"},"client_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Client Id"},"client_secret":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Client Secret"},"catalog":{"type":"string","title":"Catalog"},"database":{"type":"string","title":"Database","default":"default"},"table_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Table Name"},"schema":{"type":"string","title":"Schema","default":"default"},"volume":{"type":"string","title":"Volume"},"volume_path":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Volume Path"}},"type":"object","required":["server_hostname","http_path","catalog","volume"],"title":"DatabricksVDTDestinationConnectorConfig"},"DatabricksVDTDestinationConnectorConfigInput":{"properties":{"server_hostname":{"type":"string","title":"Server Hostname"},"http_path":{"type":"string","title":"Http Path"},"token":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Token"},"client_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Client Id"},"client_secret":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Client Secret"},"catalog":{"type":"string","title":"Catalog"},"database":{"type":"string","title":"Database","default":"default"},"table_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Table Name"},"schema":{"type":"string","title":"Schema"},"volume":{"type":"string","title":"Volume"},"volume_path":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Volume Path"}},"type":"object","required":["server_hostname","http_path","catalog","volume"],"title":"DatabricksVDTDestinationConnectorConfigInput"},"DatabricksVolumesConnectorConfig":{"properties":{"host":{"type":"string","title":"Host"},"catalog":{"type":"string","title":"Catalog"},"schema":{"type":"string","title":"Schema","default":"default"},"volume":{"type":"string","title":"Volume"},"volume_path":{"type":"string","title":"Volume Path"},"client_secret":{"type":"string","title":"Client Secret"},"client_id":{"type":"string","title":"Client Id"}},"type":"object","required":["host","catalog","volume","volume_path","client_secret","client_id"],"title":"DatabricksVolumesConnectorConfig"},"DatabricksVolumesConnectorConfigInput":{"properties":{"host":{"type":"string","title":"Host"},"catalog":{"type":"string","title":"Catalog"},"schema":{"type":"string","title":"Schema"},"volume":{"type":"string","title":"Volume"},"volume_path":{"type":"string","title":"Volume Path"},"client_secret":{"type":"string","title":"Client Secret"},"client_id":{"type":"string","title":"Client Id"}},"type":"object","required":["host","catalog","volume","volume_path","client_secret","client_id"],"title":"DatabricksVolumesConnectorConfigInput"},"DeltaTableConnectorConfig":{"properties":{"aws_access_key_id":{"type":"string","title":"Aws Access Key Id"},"aws_secret_access_key":{"type":"string","title":"Aws Secret Access Key"},"aws_region":{"type":"string","title":"Aws Region"},"table_uri":{"type":"string","title":"Table Uri"}},"type":"object","required":["aws_access_key_id","aws_secret_access_key","aws_region","table_uri"],"title":"DeltaTableConnectorConfig"},"DeltaTableConnectorConfigInput":{"properties":{"aws_access_key_id":{"type":"string","title":"Aws Access Key Id"},"aws_secret_access_key":{"type":"string","title":"Aws Secret Access Key"},"aws_region":{"type":"string","title":"Aws Region"},"table_uri":{"type":"string","pattern":"^s3:\\/\\/","title":"Table Uri"}},"type":"object","required":["aws_access_key_id","aws_secret_access_key","aws_region","table_uri"],"title":"DeltaTableConnectorConfigInput"},"DestinationConnectorInformation":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"name":{"type":"string","title":"Name"},"type":{"$ref":"#/components/schemas/DestinationConnectorType"},"config":{"anyOf":[{"$ref":"#/components/schemas/AstraDBConnectorConfig"},{"$ref":"#/components/schemas/AzureAISearchConnectorConfig"},{"$ref":"#/components/schemas/CouchbaseDestinationConnectorConfig"},{"$ref":"#/components/schemas/DatabricksVolumesConnectorConfig"},{"$ref":"#/components/schemas/DatabricksVDTDestinationConnectorConfig"},{"$ref":"#/components/schemas/DeltaTableConnectorConfig"},{"$ref":"#/components/schemas/ElasticsearchConnectorConfig"},{"$ref":"#/components/schemas/GCSDestinationConnectorConfig"},{"$ref":"#/components/schemas/KafkaCloudDestinationConnectorConfig"},{"$ref":"#/components/schemas/MilvusDestinationConnectorConfig"},{"$ref":"#/components/schemas/MongoDBConnectorConfig"},{"$ref":"#/components/schemas/Neo4jDestinationConnectorConfig"},{"$ref":"#/components/schemas/OneDriveDestinationConnectorConfig"},{"$ref":"#/components/schemas/PineconeDestinationConnectorConfig"},{"$ref":"#/components/schemas/PostgresDestinationConnectorConfig"},{"$ref":"#/components/schemas/RedisDestinationConnectorConfig"},{"$ref":"#/components/schemas/QdrantCloudDestinationConnectorConfig"},{"$ref":"#/components/schemas/S3DestinationConnectorConfig"},{"$ref":"#/components/schemas/SnowflakeDestinationConnectorConfig"},{"$ref":"#/components/schemas/WeaviateDestinationConnectorConfig"},{"$ref":"#/components/schemas/IBMWatsonxS3DestinationConnectorConfig"},{"additionalProperties":true,"type":"object"}],"title":"Config"},"created_at":{"type":"string","format":"date-time","title":"Created At"},"updated_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Updated At"}},"type":"object","required":["id","name","type","config","created_at"],"title":"DestinationConnectorInformation"},"DestinationConnectorType":{"type":"string","enum":["astradb","azure_ai_search","couchbase","databricks_volumes","databricks_volume_delta_tables","delta_table","elasticsearch","gcs","kafka-cloud","milvus","mongodb","motherduck","neo4j","onedrive","pinecone","postgres","redis","qdrant-cloud","s3","snowflake","weaviate-cloud","ibm_watsonx_s3"],"title":"DestinationConnectorType"},"DropboxSourceConnectorConfig":{"properties":{"token":{"type":"string","title":"Token"},"remote_url":{"type":"string","title":"Remote Url"},"recursive":{"type":"boolean","title":"Recursive"}},"type":"object","required":["token","remote_url","recursive"],"title":"DropboxSourceConnectorConfig"},"DropboxSourceConnectorConfigInput":{"properties":{"token":{"type":"string","title":"Token"},"remote_url":{"type":"string","pattern":"^dropbox:\\/\\/","title":"Remote Url"},"recursive":{"type":"boolean","title":"Recursive","default":true}},"type":"object","required":["token","remote_url"],"title":"DropboxSourceConnectorConfigInput"},"ElasticsearchConnectorConfig":{"properties":{"hosts":{"items":{"type":"string"},"type":"array","title":"Hosts"},"index_name":{"type":"string","title":"Index Name"},"es_api_key":{"type":"string","title":"Es Api Key"}},"type":"object","required":["hosts","index_name","es_api_key"],"title":"ElasticsearchConnectorConfig"},"ElasticsearchConnectorConfigInput":{"properties":{"hosts":{"items":{"type":"string"},"type":"array","title":"Hosts"},"index_name":{"type":"string","title":"Index Name"},"es_api_key":{"type":"string","title":"Es Api Key"}},"type":"object","required":["hosts","index_name","es_api_key"],"title":"ElasticsearchConnectorConfigInput"},"EncryptionType":{"type":"string","enum":["rsa","rsa_aes"],"title":"EncryptionType"},"FailedFile":{"properties":{"document":{"type":"string","title":"Document"},"error":{"type":"string","title":"Error"}},"type":"object","required":["document","error"],"title":"FailedFile"},"GCSDestinationConnectorConfig":{"properties":{"remote_url":{"type":"string","title":"Remote Url"},"service_account_key":{"type":"string","title":"Service Account Key"}},"type":"object","required":["remote_url","service_account_key"],"title":"GCSDestinationConnectorConfig"},"GCSDestinationConnectorConfigInput":{"properties":{"remote_url":{"type":"string","pattern":"^(gs|gcs):\\/\\/","title":"Remote Url"},"service_account_key":{"type":"string","title":"Service Account Key"}},"type":"object","required":["remote_url","service_account_key"],"title":"GCSDestinationConnectorConfigInput"},"GCSSourceConnectorConfig":{"properties":{"remote_url":{"type":"string","title":"Remote Url"},"service_account_key":{"type":"string","title":"Service Account Key"},"recursive":{"type":"boolean","title":"Recursive"}},"type":"object","required":["remote_url","service_account_key","recursive"],"title":"GCSSourceConnectorConfig"},"GCSSourceConnectorConfigInput":{"properties":{"remote_url":{"type":"string","pattern":"^(gs|gcs):\\/\\/","title":"Remote Url"},"service_account_key":{"type":"string","title":"Service Account Key"},"recursive":{"type":"boolean","title":"Recursive","default":true}},"type":"object","required":["remote_url","service_account_key"],"title":"GCSSourceConnectorConfigInput"},"GoogleDriveSourceConnectorConfig":{"properties":{"drive_id":{"type":"string","title":"Drive Id"},"service_account_key":{"anyOf":[{"$ref":"#/components/schemas/SecretReference"},{"type":"string"}],"title":"Service Account Key"},"extensions":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Extensions"},"recursive":{"type":"boolean","title":"Recursive"}},"type":"object","required":["drive_id","service_account_key","recursive"],"title":"GoogleDriveSourceConnectorConfig"},"GoogleDriveSourceConnectorConfigInput":{"properties":{"drive_id":{"type":"string","title":"Drive Id"},"service_account_key":{"anyOf":[{"$ref":"#/components/schemas/SecretReference"},{"type":"string"}],"title":"Service Account Key"},"extensions":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Extensions"},"recursive":{"type":"boolean","title":"Recursive","default":true}},"type":"object","required":["drive_id","service_account_key"],"title":"GoogleDriveSourceConnectorConfigInput"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"IBMWatsonxS3DestinationConnectorConfig":{"properties":{"iam_api_key":{"type":"string","title":"Iam Api Key"},"access_key_id":{"type":"string","title":"Access Key Id"},"secret_access_key":{"type":"string","title":"Secret Access Key"},"iceberg_endpoint":{"type":"string","title":"Iceberg Endpoint"},"object_storage_endpoint":{"type":"string","title":"Object Storage Endpoint"},"object_storage_region":{"type":"string","title":"Object Storage Region"},"catalog":{"type":"string","title":"Catalog"},"max_retries_connection":{"type":"integer","title":"Max Retries Connection"},"namespace":{"type":"string","title":"Namespace"},"table":{"type":"string","title":"Table"},"max_retries":{"type":"integer","title":"Max Retries"},"record_id_key":{"type":"string","title":"Record Id Key"}},"type":"object","required":["iam_api_key","access_key_id","secret_access_key","iceberg_endpoint","object_storage_endpoint","object_storage_region","catalog","max_retries_connection","namespace","table","max_retries","record_id_key"],"title":"IBMWatsonxS3DestinationConnectorConfig"},"IBMWatsonxS3DestinationConnectorConfigInput":{"properties":{"iam_api_key":{"type":"string","title":"Iam Api Key"},"access_key_id":{"type":"string","title":"Access Key Id"},"secret_access_key":{"type":"string","title":"Secret Access Key"},"iceberg_endpoint":{"type":"string","title":"Iceberg Endpoint"},"object_storage_endpoint":{"type":"string","title":"Object Storage Endpoint"},"object_storage_region":{"type":"string","title":"Object Storage Region"},"catalog":{"type":"string","title":"Catalog"},"max_retries_connection":{"type":"integer","maximum":100.0,"minimum":2.0,"title":"Max Retries Connection","description":"Maximum number of retries in case of a connection error","default":10},"namespace":{"type":"string","title":"Namespace"},"table":{"type":"string","title":"Table"},"max_retries":{"type":"integer","maximum":500.0,"minimum":2.0,"title":"Max Retries","description":"Maximum number of retries to upload data","default":50},"record_id_key":{"type":"string","title":"Record Id Key","description":"Searchable key to find entries for the same record on previous runs","default":"record_id"}},"type":"object","required":["iam_api_key","access_key_id","secret_access_key","iceberg_endpoint","object_storage_endpoint","object_storage_region","catalog","namespace","table"],"title":"IBMWatsonxS3DestinationConnectorConfigInput"},"JiraSourceConnectorConfig":{"properties":{"url":{"type":"string","title":"Url"},"username":{"type":"string","title":"Username"},"password":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Password"},"token":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Token"},"cloud":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Cloud","default":false},"projects":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Projects"},"boards":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Boards"},"issues":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Issues"},"status_filters":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Status Filters"},"download_attachments":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Download Attachments","default":false}},"type":"object","required":["url","username"],"title":"JiraSourceConnectorConfig"},"JiraSourceConnectorConfigInput":{"properties":{"url":{"type":"string","title":"Url"},"username":{"type":"string","title":"Username"},"password":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Password"},"token":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Token"},"cloud":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Cloud","default":false},"projects":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Projects"},"boards":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Boards"},"issues":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Issues"},"status_filters":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Status Filters"},"download_attachments":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Download Attachments","default":false}},"type":"object","required":["url","username"],"title":"JiraSourceConnectorConfigInput"},"JobDetails":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"processing_status":{"$ref":"#/components/schemas/JobProcessingStatus"},"node_stats":{"items":{"$ref":"#/components/schemas/JobNodeDetails"},"type":"array","title":"Node Stats"},"message":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Message"}},"type":"object","required":["id","processing_status","node_stats"],"title":"JobDetails"},"JobFailedFiles":{"properties":{"failed_files":{"items":{"$ref":"#/components/schemas/FailedFile"},"type":"array","title":"Failed Files"}},"type":"object","required":["failed_files"],"title":"JobFailedFiles"},"JobInformation":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"workflow_id":{"type":"string","format":"uuid","title":"Workflow Id"},"workflow_name":{"type":"string","title":"Workflow Name"},"status":{"$ref":"#/components/schemas/JobStatus"},"created_at":{"type":"string","format":"date-time","title":"Created At"},"runtime":{"anyOf":[{"type":"string","format":"duration"},{"type":"null"}],"title":"Runtime"},"input_file_ids":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Input File Ids"},"output_node_files":{"anyOf":[{"items":{"$ref":"#/components/schemas/NodeFileMetadata"},"type":"array"},{"type":"null"}],"title":"Output Node Files"},"job_type":{"$ref":"#/components/schemas/WorkflowJobType","default":"ephemeral"}},"type":"object","required":["id","workflow_id","workflow_name","status","created_at"],"title":"JobInformation"},"JobNodeDetails":{"properties":{"node_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Node Name"},"node_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Node Type"},"node_subtype":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Node Subtype"},"ready":{"type":"integer","title":"Ready"},"in_progress":{"type":"integer","title":"In Progress"},"success":{"type":"integer","title":"Success"},"failure":{"type":"integer","title":"Failure"}},"type":"object","required":["ready","in_progress","success","failure"],"title":"JobNodeDetails"},"JobProcessingStatus":{"type":"string","enum":["SCHEDULED","IN_PROGRESS","SUCCESS","COMPLETED_WITH_ERRORS","STOPPED","FAILED"],"title":"JobProcessingStatus"},"JobStatus":{"type":"string","enum":["SCHEDULED","IN_PROGRESS","COMPLETED","STOPPED","FAILED"],"title":"JobStatus"},"KafkaCloudDestinationConnectorConfig":{"properties":{"bootstrap_servers":{"type":"string","title":"Bootstrap Servers"},"port":{"type":"integer","title":"Port"},"group_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Group Id"},"topic":{"type":"string","title":"Topic"},"kafka_api_key":{"type":"string","title":"Kafka Api Key"},"secret":{"type":"string","title":"Secret"},"batch_size":{"type":"integer","title":"Batch Size"}},"type":"object","required":["bootstrap_servers","port","topic","kafka_api_key","secret","batch_size"],"title":"KafkaCloudDestinationConnectorConfig"},"KafkaCloudDestinationConnectorConfigInput":{"properties":{"bootstrap_servers":{"type":"string","title":"Bootstrap Servers"},"port":{"type":"integer","minimum":1.0,"title":"Port","default":9092},"group_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Group Id"},"topic":{"type":"string","title":"Topic"},"kafka_api_key":{"type":"string","title":"Kafka Api Key"},"secret":{"type":"string","title":"Secret"},"batch_size":{"type":"integer","minimum":1.0,"title":"Batch Size","default":100}},"type":"object","required":["bootstrap_servers","topic","kafka_api_key","secret"],"title":"KafkaCloudDestinationConnectorConfigInput"},"KafkaCloudSourceConnectorConfig":{"properties":{"bootstrap_servers":{"type":"string","title":"Bootstrap Servers"},"port":{"type":"integer","title":"Port"},"group_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Group Id"},"topic":{"type":"string","title":"Topic"},"kafka_api_key":{"type":"string","title":"Kafka Api Key"},"secret":{"type":"string","title":"Secret"},"num_messages_to_consume":{"type":"integer","title":"Num Messages To Consume"}},"type":"object","required":["bootstrap_servers","port","topic","kafka_api_key","secret","num_messages_to_consume"],"title":"KafkaCloudSourceConnectorConfig"},"KafkaCloudSourceConnectorConfigInput":{"properties":{"bootstrap_servers":{"type":"string","title":"Bootstrap Servers"},"port":{"type":"integer","minimum":1.0,"title":"Port","default":9092},"group_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Group Id"},"topic":{"type":"string","title":"Topic"},"kafka_api_key":{"type":"string","title":"Kafka Api Key"},"secret":{"type":"string","title":"Secret"},"num_messages_to_consume":{"type":"integer","minimum":1.0,"title":"Num Messages To Consume","default":100}},"type":"object","required":["bootstrap_servers","topic","kafka_api_key","secret"],"title":"KafkaCloudSourceConnectorConfigInput"},"MilvusDestinationConnectorConfig":{"properties":{"uri":{"type":"string","title":"Uri"},"user":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"User"},"token":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Token"},"password":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Password"},"db_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Db Name"},"collection_name":{"type":"string","title":"Collection Name"},"record_id_key":{"type":"string","title":"Record Id Key"}},"type":"object","required":["uri","collection_name","record_id_key"],"title":"MilvusDestinationConnectorConfig"},"MilvusDestinationConnectorConfigInput":{"properties":{"uri":{"type":"string","pattern":"^https?:\\/\\/","title":"Uri"},"user":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"User"},"token":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Token"},"password":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Password"},"db_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Db Name"},"collection_name":{"type":"string","title":"Collection Name"},"record_id_key":{"type":"string","title":"Record Id Key"}},"type":"object","required":["uri","collection_name","record_id_key"],"title":"MilvusDestinationConnectorConfigInput"},"MongoDBConnectorConfig":{"properties":{"database":{"type":"string","title":"Database"},"collection":{"type":"string","title":"Collection"},"uri":{"type":"string","title":"Uri"}},"type":"object","required":["database","collection","uri"],"title":"MongoDBConnectorConfig"},"MongoDBConnectorConfigInput":{"properties":{"database":{"type":"string","title":"Database"},"collection":{"type":"string","title":"Collection"},"uri":{"type":"string","pattern":"^mongodb(?:\\+srv)?:\\/\\/(?:([^:@/\\s]+)(?::([^@/\\s]*))?@)?([^/\\s:,]+)(?::(\\d+))?(?:,([^/\\s:,]+)(?::(\\d+))?)*(?:\\/([^/\\s?]*))?(?:\\?([^/\\s]*))?$","title":"Uri"}},"type":"object","required":["database","collection","uri"],"title":"MongoDBConnectorConfigInput"},"Neo4jDestinationConnectorConfig":{"properties":{"uri":{"type":"string","title":"Uri"},"database":{"type":"string","title":"Database"},"username":{"type":"string","title":"Username"},"password":{"type":"string","title":"Password"},"batch_size":{"type":"integer","title":"Batch Size"}},"type":"object","required":["uri","database","username","password","batch_size"],"title":"Neo4jDestinationConnectorConfig"},"Neo4jDestinationConnectorConfigInput":{"properties":{"uri":{"type":"string","title":"Uri"},"database":{"type":"string","title":"Database"},"username":{"type":"string","title":"Username"},"password":{"type":"string","title":"Password"},"batch_size":{"type":"integer","minimum":1.0,"title":"Batch Size","default":100}},"type":"object","required":["uri","database","username","password"],"title":"Neo4jDestinationConnectorConfigInput"},"NodeFileMetadata":{"properties":{"node_id":{"type":"string","format":"uuid","title":"Node Id"},"file_id":{"type":"string","title":"File Id"}},"type":"object","required":["node_id","file_id"],"title":"NodeFileMetadata"},"OneDriveDestinationConnectorConfig":{"properties":{"client_id":{"type":"string","title":"Client Id"},"user_pname":{"type":"string","title":"User Pname"},"tenant":{"type":"string","title":"Tenant"},"authority_url":{"type":"string","title":"Authority Url"},"client_cred":{"type":"string","title":"Client Cred"},"remote_url":{"type":"string","title":"Remote Url"}},"type":"object","required":["client_id","user_pname","tenant","authority_url","client_cred","remote_url"],"title":"OneDriveDestinationConnectorConfig"},"OneDriveDestinationConnectorConfigInput":{"properties":{"client_id":{"type":"string","title":"Client Id"},"user_pname":{"type":"string","title":"User Pname"},"tenant":{"type":"string","title":"Tenant"},"authority_url":{"type":"string","title":"Authority Url"},"client_cred":{"type":"string","title":"Client Cred"},"remote_url":{"type":"string","pattern":"^onedrive:\\/\\/","title":"Remote Url"}},"type":"object","required":["client_id","user_pname","tenant","authority_url","client_cred","remote_url"],"title":"OneDriveDestinationConnectorConfigInput"},"OneDriveSourceConnectorConfig":{"properties":{"client_id":{"type":"string","title":"Client Id"},"user_pname":{"type":"string","title":"User Pname"},"tenant":{"type":"string","title":"Tenant"},"authority_url":{"type":"string","title":"Authority Url"},"client_cred":{"type":"string","title":"Client Cred"},"recursive":{"type":"boolean","title":"Recursive"},"path":{"type":"string","title":"Path"}},"type":"object","required":["client_id","user_pname","tenant","authority_url","client_cred","recursive","path"],"title":"OneDriveSourceConnectorConfig"},"OneDriveSourceConnectorConfigInput":{"properties":{"client_id":{"type":"string","title":"Client Id"},"user_pname":{"type":"string","title":"User Pname"},"tenant":{"type":"string","title":"Tenant"},"authority_url":{"type":"string","title":"Authority Url"},"client_cred":{"type":"string","title":"Client Cred"},"recursive":{"type":"boolean","title":"Recursive","default":false},"path":{"type":"string","title":"Path"}},"type":"object","required":["client_id","user_pname","tenant","authority_url","client_cred","path"],"title":"OneDriveSourceConnectorConfigInput"},"OutlookSourceConnectorConfig":{"properties":{"authority_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authority Url"},"tenant":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Tenant"},"client_id":{"type":"string","title":"Client Id"},"client_cred":{"type":"string","title":"Client Cred"},"outlook_folders":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Outlook Folders"},"recursive":{"type":"boolean","title":"Recursive"},"user_email":{"type":"string","title":"User Email"}},"type":"object","required":["client_id","client_cred","recursive","user_email"],"title":"OutlookSourceConnectorConfig"},"OutlookSourceConnectorConfigInput":{"properties":{"authority_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authority Url"},"tenant":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Tenant"},"client_id":{"type":"string","title":"Client Id"},"client_cred":{"type":"string","title":"Client Cred"},"outlook_folders":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Outlook Folders"},"recursive":{"type":"boolean","title":"Recursive","default":false},"user_email":{"type":"string","title":"User Email"}},"type":"object","required":["client_id","client_cred","user_email"],"title":"OutlookSourceConnectorConfigInput"},"PineconeDestinationConnectorConfig":{"properties":{"index_name":{"type":"string","title":"Index Name"},"api_key":{"type":"string","title":"Api Key"},"namespace":{"type":"string","title":"Namespace"},"batch_size":{"type":"integer","title":"Batch Size"}},"type":"object","required":["index_name","api_key","namespace","batch_size"],"title":"PineconeDestinationConnectorConfig"},"PineconeDestinationConnectorConfigInput":{"properties":{"index_name":{"type":"string","title":"Index Name"},"api_key":{"type":"string","title":"Api Key"},"namespace":{"type":"string","title":"Namespace"},"batch_size":{"type":"integer","minimum":1.0,"title":"Batch Size","default":50}},"type":"object","required":["index_name","api_key","namespace"],"title":"PineconeDestinationConnectorConfigInput"},"PostgresDestinationConnectorConfig":{"properties":{"host":{"type":"string","title":"Host"},"database":{"type":"string","title":"Database"},"port":{"type":"integer","title":"Port"},"username":{"type":"string","title":"Username"},"password":{"type":"string","title":"Password"},"table_name":{"type":"string","title":"Table Name"},"batch_size":{"type":"integer","title":"Batch Size"}},"type":"object","required":["host","database","port","username","password","table_name","batch_size"],"title":"PostgresDestinationConnectorConfig"},"PostgresDestinationConnectorConfigInput":{"properties":{"host":{"type":"string","title":"Host"},"database":{"type":"string","title":"Database"},"port":{"type":"integer","title":"Port"},"username":{"type":"string","title":"Username"},"password":{"type":"string","title":"Password"},"table_name":{"type":"string","title":"Table Name"},"batch_size":{"type":"integer","title":"Batch Size"}},"type":"object","required":["host","database","port","username","password","table_name","batch_size"],"title":"PostgresDestinationConnectorConfigInput"},"PostgresSourceConnectorConfig":{"properties":{"host":{"type":"string","title":"Host"},"database":{"type":"string","title":"Database"},"port":{"type":"integer","title":"Port"},"username":{"type":"string","title":"Username"},"password":{"type":"string","title":"Password"},"table_name":{"type":"string","title":"Table Name"},"batch_size":{"type":"integer","title":"Batch Size"},"id_column":{"type":"string","title":"Id Column"},"fields":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Fields"}},"type":"object","required":["host","database","port","username","password","table_name","batch_size","id_column"],"title":"PostgresSourceConnectorConfig"},"PostgresSourceConnectorConfigInput":{"properties":{"host":{"type":"string","title":"Host"},"database":{"type":"string","title":"Database"},"port":{"type":"integer","title":"Port"},"username":{"type":"string","title":"Username"},"password":{"type":"string","title":"Password"},"table_name":{"type":"string","title":"Table Name"},"batch_size":{"type":"integer","title":"Batch Size"},"id_column":{"type":"string","title":"Id Column","default":"id"},"fields":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Fields"}},"type":"object","required":["host","database","port","username","password","table_name","batch_size"],"title":"PostgresSourceConnectorConfigInput"},"QdrantCloudDestinationConnectorConfig":{"properties":{"url":{"type":"string","title":"Url"},"api_key":{"type":"string","title":"Api Key"},"collection_name":{"type":"string","title":"Collection Name"},"batch_size":{"type":"integer","title":"Batch Size"}},"type":"object","required":["url","api_key","collection_name","batch_size"],"title":"QdrantCloudDestinationConnectorConfig"},"QdrantCloudDestinationConnectorConfigInput":{"properties":{"url":{"type":"string","title":"Url"},"api_key":{"type":"string","title":"Api Key"},"collection_name":{"type":"string","title":"Collection Name"},"batch_size":{"type":"integer","minimum":1.0,"title":"Batch Size","default":50}},"type":"object","required":["url","api_key","collection_name"],"title":"QdrantCloudDestinationConnectorConfigInput"},"RedisDestinationConnectorConfig":{"properties":{"host":{"type":"string","title":"Host"},"port":{"type":"integer","title":"Port"},"username":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Username"},"password":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Password"},"uri":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Uri"},"database":{"type":"integer","title":"Database"},"ssl":{"type":"boolean","title":"Ssl"},"batch_size":{"type":"integer","title":"Batch Size"}},"type":"object","required":["host","port","database","ssl","batch_size"],"title":"RedisDestinationConnectorConfig"},"RedisDestinationConnectorConfigInput":{"properties":{"host":{"type":"string","title":"Host"},"port":{"type":"integer","minimum":1.0,"title":"Port","default":6379},"username":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Username"},"password":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Password"},"uri":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Uri"},"database":{"type":"integer","minimum":0.0,"title":"Database","default":0},"ssl":{"type":"boolean","title":"Ssl","default":true},"batch_size":{"type":"integer","minimum":1.0,"title":"Batch Size","default":100}},"type":"object","required":["host"],"title":"RedisDestinationConnectorConfigInput"},"S3DestinationConnectorConfig":{"properties":{"remote_url":{"type":"string","title":"Remote Url"},"anonymous":{"type":"boolean","title":"Anonymous"},"key":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Key"},"secret":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Secret"},"token":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Token"},"endpoint_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Endpoint Url"}},"type":"object","required":["remote_url","anonymous"],"title":"S3DestinationConnectorConfig"},"S3DestinationConnectorConfigInput":{"properties":{"remote_url":{"type":"string","pattern":"^s3:\\/\\/","title":"Remote Url"},"anonymous":{"type":"boolean","title":"Anonymous","default":false},"key":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Key"},"secret":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Secret"},"token":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Token"},"endpoint_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Endpoint Url"}},"type":"object","required":["remote_url"],"title":"S3DestinationConnectorConfigInput"},"S3SourceConnectorConfig":{"properties":{"remote_url":{"type":"string","title":"Remote Url"},"anonymous":{"type":"boolean","title":"Anonymous"},"key":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Key"},"secret":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Secret"},"token":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Token"},"endpoint_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Endpoint Url"},"recursive":{"type":"boolean","title":"Recursive"}},"type":"object","required":["remote_url","anonymous","recursive"],"title":"S3SourceConnectorConfig"},"S3SourceConnectorConfigInput":{"properties":{"remote_url":{"type":"string","pattern":"^s3:\\/\\/","title":"Remote Url"},"anonymous":{"type":"boolean","title":"Anonymous","default":false},"key":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Key"},"secret":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Secret"},"token":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Token"},"endpoint_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Endpoint Url"},"recursive":{"type":"boolean","title":"Recursive","default":true}},"type":"object","required":["remote_url"],"title":"S3SourceConnectorConfigInput"},"SalesforceSourceConnectorConfig":{"properties":{"username":{"type":"string","title":"Username"},"consumer_key":{"type":"string","title":"Consumer Key"},"private_key":{"type":"string","title":"Private Key"},"categories":{"items":{"type":"string"},"type":"array","title":"Categories"}},"type":"object","required":["username","consumer_key","private_key","categories"],"title":"SalesforceSourceConnectorConfig"},"SalesforceSourceConnectorConfigInput":{"properties":{"username":{"type":"string","title":"Username"},"consumer_key":{"type":"string","title":"Consumer Key"},"private_key":{"type":"string","title":"Private Key"},"categories":{"items":{"type":"string"},"type":"array","title":"Categories"}},"type":"object","required":["username","consumer_key","private_key","categories"],"title":"SalesforceSourceConnectorConfigInput"},"SecretReference":{"properties":{"id":{"type":"string","title":"Id"},"type":{"$ref":"#/components/schemas/EncryptionType","default":"rsa"}},"type":"object","required":["id"],"title":"SecretReference"},"SharePointSourceConnectorConfig":{"properties":{"site":{"type":"string","title":"Site"},"tenant":{"type":"string","title":"Tenant"},"authority_url":{"type":"string","title":"Authority Url","default":"https://login.microsoftonline.com"},"user_pname":{"type":"string","title":"User Pname"},"client_id":{"type":"string","title":"Client Id"},"client_cred":{"type":"string","title":"Client Cred"},"recursive":{"type":"boolean","title":"Recursive"},"path":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Path"}},"type":"object","required":["site","tenant","user_pname","client_id","client_cred","recursive"],"title":"SharePointSourceConnectorConfig"},"SharePointSourceConnectorConfigInput":{"properties":{"site":{"type":"string","pattern":"^https:\\/\\/([a-zA-Z0-9-]+)(-admin)?\\.sharepoint\\.com(\\/sites\\/[a-zA-Z0-9-_]+)?$","title":"Site"},"tenant":{"type":"string","title":"Tenant"},"authority_url":{"type":"string","title":"Authority Url","default":"https://login.microsoftonline.com"},"user_pname":{"type":"string","title":"User Pname"},"client_id":{"type":"string","title":"Client Id"},"client_cred":{"type":"string","title":"Client Cred"},"recursive":{"type":"boolean","title":"Recursive","default":false},"path":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Path"}},"type":"object","required":["site","tenant","user_pname","client_id","client_cred"],"title":"SharePointSourceConnectorConfigInput"},"SnowflakeDestinationConnectorConfig":{"properties":{"account":{"type":"string","title":"Account"},"role":{"type":"string","title":"Role"},"user":{"type":"string","title":"User"},"password":{"type":"string","title":"Password"},"host":{"type":"string","title":"Host"},"port":{"type":"integer","minimum":1.0,"title":"Port","default":443},"database":{"type":"string","title":"Database"},"schema":{"type":"string","title":"Schema"},"table_name":{"type":"string","title":"Table Name","default":"elements"},"batch_size":{"type":"integer","minimum":1.0,"title":"Batch Size","default":50},"record_id_key":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Record Id Key","default":"record_id"}},"type":"object","required":["account","role","user","password","host","database"],"title":"SnowflakeDestinationConnectorConfig"},"SnowflakeDestinationConnectorConfigInput":{"properties":{"account":{"type":"string","title":"Account"},"role":{"type":"string","title":"Role"},"user":{"type":"string","title":"User"},"password":{"type":"string","title":"Password"},"host":{"type":"string","title":"Host"},"port":{"type":"integer","minimum":1.0,"title":"Port","default":443},"database":{"type":"string","title":"Database"},"schema":{"type":"string","title":"Schema"},"table_name":{"type":"string","title":"Table Name","default":"elements"},"batch_size":{"type":"integer","minimum":1.0,"title":"Batch Size","default":50},"record_id_key":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Record Id Key","default":"record_id"}},"type":"object","required":["account","role","user","password","host","database"],"title":"SnowflakeDestinationConnectorConfigInput"},"SnowflakeSourceConnectorConfig":{"properties":{"account":{"type":"string","title":"Account"},"role":{"type":"string","title":"Role"},"user":{"type":"string","title":"User"},"password":{"type":"string","title":"Password"},"host":{"type":"string","title":"Host"},"port":{"type":"integer","minimum":1.0,"title":"Port","default":443},"database":{"type":"string","title":"Database"},"schema":{"type":"string","title":"Schema"},"table_name":{"type":"string","title":"Table Name"},"batch_size":{"type":"integer","minimum":1.0,"title":"Batch Size","default":100},"id_column":{"type":"string","title":"Id Column"},"fields":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Fields"}},"type":"object","required":["account","role","user","password","host","database","table_name","id_column"],"title":"SnowflakeSourceConnectorConfig"},"SnowflakeSourceConnectorConfigInput":{"properties":{"account":{"type":"string","title":"Account"},"role":{"type":"string","title":"Role"},"user":{"type":"string","title":"User"},"password":{"type":"string","title":"Password"},"host":{"type":"string","title":"Host"},"port":{"type":"integer","minimum":1.0,"title":"Port","default":443},"database":{"type":"string","title":"Database"},"schema":{"type":"string","title":"Schema"},"table_name":{"type":"string","title":"Table Name"},"batch_size":{"type":"integer","minimum":1.0,"title":"Batch Size","default":100},"id_column":{"type":"string","title":"Id Column"},"fields":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Fields"}},"type":"object","required":["account","role","user","password","host","database","table_name","id_column"],"title":"SnowflakeSourceConnectorConfigInput"},"SortDirection":{"type":"string","enum":["asc","desc"],"title":"SortDirection"},"SourceConnectorInformation":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"name":{"type":"string","title":"Name"},"type":{"$ref":"#/components/schemas/SourceConnectorType"},"config":{"anyOf":[{"$ref":"#/components/schemas/AzureSourceConnectorConfig"},{"$ref":"#/components/schemas/BoxSourceConnectorConfig"},{"$ref":"#/components/schemas/ConfluenceSourceConnectorConfig"},{"$ref":"#/components/schemas/CouchbaseSourceConnectorConfig"},{"$ref":"#/components/schemas/DatabricksVolumesConnectorConfig"},{"$ref":"#/components/schemas/DropboxSourceConnectorConfig"},{"$ref":"#/components/schemas/ElasticsearchConnectorConfig"},{"$ref":"#/components/schemas/GCSSourceConnectorConfig"},{"$ref":"#/components/schemas/GoogleDriveSourceConnectorConfig"},{"$ref":"#/components/schemas/KafkaCloudSourceConnectorConfig"},{"$ref":"#/components/schemas/MongoDBConnectorConfig"},{"$ref":"#/components/schemas/OneDriveSourceConnectorConfig"},{"$ref":"#/components/schemas/OutlookSourceConnectorConfig"},{"$ref":"#/components/schemas/PostgresSourceConnectorConfig"},{"$ref":"#/components/schemas/S3SourceConnectorConfig"},{"$ref":"#/components/schemas/SalesforceSourceConnectorConfig"},{"$ref":"#/components/schemas/SharePointSourceConnectorConfig"},{"$ref":"#/components/schemas/SnowflakeSourceConnectorConfig"},{"$ref":"#/components/schemas/JiraSourceConnectorConfig"},{"$ref":"#/components/schemas/ZendeskSourceConnectorConfig"},{"additionalProperties":true,"type":"object"}],"title":"Config"},"created_at":{"type":"string","format":"date-time","title":"Created At"},"updated_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Updated At"}},"type":"object","required":["id","name","type","config","created_at"],"title":"SourceConnectorInformation"},"SourceConnectorType":{"type":"string","enum":["azure","box","confluence","couchbase","databricks_volumes","dropbox","elasticsearch","gcs","google_drive","kafka-cloud","mongodb","onedrive","outlook","postgres","s3","salesforce","sharepoint","slack","snowflake","jira","zendesk"],"title":"SourceConnectorType"},"UpdateDestinationConnector":{"properties":{"config":{"anyOf":[{"$ref":"#/components/schemas/AstraDBConnectorConfigInput"},{"$ref":"#/components/schemas/AzureAISearchConnectorConfigInput"},{"$ref":"#/components/schemas/CouchbaseDestinationConnectorConfigInput"},{"$ref":"#/components/schemas/DatabricksVolumesConnectorConfigInput"},{"$ref":"#/components/schemas/DatabricksVDTDestinationConnectorConfigInput"},{"$ref":"#/components/schemas/DeltaTableConnectorConfigInput"},{"$ref":"#/components/schemas/ElasticsearchConnectorConfigInput"},{"$ref":"#/components/schemas/GCSDestinationConnectorConfigInput"},{"$ref":"#/components/schemas/KafkaCloudDestinationConnectorConfigInput"},{"$ref":"#/components/schemas/MilvusDestinationConnectorConfigInput"},{"$ref":"#/components/schemas/MongoDBConnectorConfigInput"},{"$ref":"#/components/schemas/Neo4jDestinationConnectorConfigInput"},{"$ref":"#/components/schemas/OneDriveDestinationConnectorConfigInput"},{"$ref":"#/components/schemas/PineconeDestinationConnectorConfigInput"},{"$ref":"#/components/schemas/PostgresDestinationConnectorConfigInput"},{"$ref":"#/components/schemas/RedisDestinationConnectorConfigInput"},{"$ref":"#/components/schemas/QdrantCloudDestinationConnectorConfigInput"},{"$ref":"#/components/schemas/S3DestinationConnectorConfigInput"},{"$ref":"#/components/schemas/SnowflakeDestinationConnectorConfigInput"},{"$ref":"#/components/schemas/WeaviateDestinationConnectorConfigInput"},{"$ref":"#/components/schemas/IBMWatsonxS3DestinationConnectorConfigInput"},{"additionalProperties":true,"type":"object"}],"title":"Config"}},"type":"object","required":["config"],"title":"UpdateDestinationConnector"},"UpdateSourceConnector":{"properties":{"config":{"anyOf":[{"$ref":"#/components/schemas/AzureSourceConnectorConfigInput"},{"$ref":"#/components/schemas/BoxSourceConnectorConfigInput"},{"$ref":"#/components/schemas/ConfluenceSourceConnectorConfigInput"},{"$ref":"#/components/schemas/CouchbaseSourceConnectorConfigInput"},{"$ref":"#/components/schemas/DatabricksVolumesConnectorConfigInput"},{"$ref":"#/components/schemas/DropboxSourceConnectorConfigInput"},{"$ref":"#/components/schemas/ElasticsearchConnectorConfigInput"},{"$ref":"#/components/schemas/GCSSourceConnectorConfigInput"},{"$ref":"#/components/schemas/GoogleDriveSourceConnectorConfigInput"},{"$ref":"#/components/schemas/KafkaCloudSourceConnectorConfigInput"},{"$ref":"#/components/schemas/MongoDBConnectorConfigInput"},{"$ref":"#/components/schemas/OneDriveSourceConnectorConfigInput"},{"$ref":"#/components/schemas/OutlookSourceConnectorConfigInput"},{"$ref":"#/components/schemas/PostgresSourceConnectorConfigInput"},{"$ref":"#/components/schemas/S3SourceConnectorConfigInput"},{"$ref":"#/components/schemas/SalesforceSourceConnectorConfigInput"},{"$ref":"#/components/schemas/SharePointSourceConnectorConfigInput"},{"$ref":"#/components/schemas/SnowflakeSourceConnectorConfigInput"},{"$ref":"#/components/schemas/JiraSourceConnectorConfigInput"},{"$ref":"#/components/schemas/ZendeskSourceConnectorConfigInput"},{"additionalProperties":true,"type":"object"}],"title":"Config"}},"type":"object","required":["config"],"title":"UpdateSourceConnector"},"UpdateWorkflow":{"properties":{"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"source_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Source Id"},"destination_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Destination Id"},"workflow_type":{"anyOf":[{"$ref":"#/components/schemas/WorkflowType"},{"type":"null"}]},"workflow_nodes":{"anyOf":[{"items":{"$ref":"#/components/schemas/WorkflowNode"},"type":"array"},{"type":"null"}],"title":"Workflow Nodes"},"schedule":{"anyOf":[{"type":"string","enum":["every 15 minutes","every hour","every 2 hours","every 4 hours","every 6 hours","every 8 hours","every 10 hours","every 12 hours","daily","weekly","monthly"]},{"type":"null"}],"title":"Schedule"},"reprocess_all":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Reprocess All"}},"type":"object","title":"UpdateWorkflow"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"},"WeaviateDestinationConnectorConfig":{"properties":{"cluster_url":{"type":"string","title":"Cluster Url"},"api_key":{"type":"string","title":"Api Key"},"collection":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Collection"}},"type":"object","required":["cluster_url","api_key"],"title":"WeaviateDestinationConnectorConfig"},"WeaviateDestinationConnectorConfigInput":{"properties":{"cluster_url":{"type":"string","title":"Cluster Url"},"api_key":{"type":"string","title":"Api Key"},"collection":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Collection"}},"type":"object","required":["cluster_url","api_key"],"title":"WeaviateDestinationConnectorConfigInput"},"WorkflowInformation":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"name":{"type":"string","title":"Name"},"sources":{"items":{"type":"string","format":"uuid"},"type":"array","title":"Sources"},"destinations":{"items":{"type":"string","format":"uuid"},"type":"array","title":"Destinations"},"workflow_type":{"anyOf":[{"$ref":"#/components/schemas/WorkflowType"},{"type":"null"}]},"workflow_nodes":{"items":{"$ref":"#/components/schemas/WorkflowNode"},"type":"array","title":"Workflow Nodes"},"schedule":{"anyOf":[{"$ref":"#/components/schemas/WorkflowSchedule"},{"type":"null"}]},"status":{"$ref":"#/components/schemas/WorkflowState"},"created_at":{"type":"string","format":"date-time","title":"Created At"},"updated_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Updated At"},"reprocess_all":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Reprocess All"}},"type":"object","required":["id","name","sources","destinations","workflow_nodes","status","created_at"],"title":"WorkflowInformation"},"WorkflowJobType":{"type":"string","enum":["ephemeral","persistent","scheduled"],"title":"WorkflowJobType"},"WorkflowNode":{"properties":{"id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Id"},"name":{"type":"string","title":"Name"},"type":{"type":"string","title":"Type"},"subtype":{"type":"string","title":"Subtype"},"settings":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Settings"}},"type":"object","required":["name","type","subtype"],"title":"WorkflowNode"},"WorkflowSchedule":{"properties":{"crontab_entries":{"items":{"$ref":"#/components/schemas/CronTabEntry"},"type":"array","title":"Crontab Entries"}},"type":"object","required":["crontab_entries"],"title":"WorkflowSchedule","examples":[{"crontab_entries":[{"cron_expression":"0 0 * * *"}]}]},"WorkflowState":{"type":"string","enum":["active","inactive"],"title":"WorkflowState"},"WorkflowType":{"type":"string","enum":["basic","advanced","platinum","custom"],"title":"WorkflowType"},"ZendeskSourceConnectorConfig":{"properties":{"subdomain":{"type":"string","title":"Subdomain"},"email":{"type":"string","title":"Email"},"api_token":{"type":"string","title":"Api Token"},"item_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Item Type","default":"tickets"},"batch_size":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Batch Size","default":2}},"type":"object","required":["subdomain","email","api_token"],"title":"ZendeskSourceConnectorConfig"},"ZendeskSourceConnectorConfigInput":{"properties":{"subdomain":{"type":"string","title":"Subdomain"},"email":{"type":"string","title":"Email"},"api_token":{"type":"string","title":"Api Token"},"item_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Item Type","default":"tickets"},"batch_size":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Batch Size","default":2}},"type":"object","required":["subdomain","email","api_token"],"title":"ZendeskSourceConnectorConfigInput"}}}}